@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansLight-Italic.eot');
    src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    background-image: url('../images/header_bg_01.png');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .container{
    margin: auto;
    padding-top: 16px;
    max-width: 1185px;
    display: flex;
    justify-content: space-between;
}

.header_left{
    float: left;

}

.header_right{
    float: right;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.header_right h4{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.header_right i{
    padding-left: 4px;
    color: #fff;
    padding-top: 3px;
}

.title{
  text-align: center;
  font-size: 80px;
    padding-top: 246px;
    padding-bottom: 315px;
    color: #fff;
}

.title h1{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.italic{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
}

.tell{
    background-color: #fff;
}

.tell .container{
    margin: auto;
    max-width: 769px;
    text-align: center;
    padding-top: 81px;
}

h6{
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 22px;
}

h2{
    color: #747a7f;
    font-size: 44px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 57px;
}

.tell .container p{
    color: #021725;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    padding-bottom: 47px;
}

.tell .container a{
    border: solid 1px #000;
    padding: 23px;
    text-align: center;
    color: #25333c;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 163px;
}

.container_pictures{
    padding-top: 37px;
    max-width: 1280px;
    margin: auto;
}

.pictures{
    display: flex;
}

.pictures .item{
    max-width: 317px;
    margin: 1px;
}

.people{
    padding-top: 161px;
    background-color: #fff;
}

.people .container{
    max-width: 769px;
    text-align: center;
    margin: auto;
}

.people .container h6{
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 24px;
}

.people .container h2{
    color: #747a7f;
    font-size: 44px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 47px;
}

.people .container p{
    color: #021725;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    padding-bottom: 50px;
}

.questionary {
max-width: 769px;
    margin: auto;
    background-color: #fff;
    margin-bottom: 165px;
}

.questionary .container{
    display: inline-block;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 3px;
    max-width: 246px;
}

.questionary .container .d-flex{
max-width: 246px;
}

.questionary .container .item{
padding: 20px 21px 48px 17px;
    text-align: left;
}

.questionary .container .item h6{
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
}

.questionary .container .item h5{
color: #7c8186;
    font-size: 21px;
    font-family: 'Open Sans';
    padding-top: 21px;
    padding-bottom: 37px;
}

.questionary .container .item p{
    color: #021725;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.last_post{
max-width: 769px;
    margin: auto;
}

.last{
text-align: center;
}

.last h6{
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 22px;
}

.last h2{
    color: #747a7f;
    font-size: 44px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    padding-bottom: 52px;
}

.post{
    display: flex;
    justify-content: space-between;
    max-width: 769px;
    margin: auto;
    background-color: #f9f9f9;
}

.post .d-flex{
max-width: 385px;
}

.post .item{
    max-width: 384px;
    padding-left: 40px;
    padding-right: 38px;
    text-align: left;
}

.post .item h5{
    color: #505d68;
    font-family: 'Open Sans';
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.post .item h4{
color: #505d68;
    padding-bottom: 32px;
    font-size: 30px;
    font-family: 'Open Sans';
}

.post .item p{
color: #505d68;
    padding-bottom: 58px;
font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.post .item a{
    border: solid 1px #000;
    padding: 18px;
    text-align: center;
    color: #021725;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 125px;
}

.more {
    padding-top: 84px;
    max-width: 769px;
    margin: auto;
    text-align: center;
}

.more a{
    border: solid 1px #000;
    padding: 23px;
    text-align: center;
    color: #021725;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 236px;
    margin-bottom: 162px;
}

.work{
    max-width: 769px;
    text-align: center;
}

.contacts {
    margin: auto;
    max-width: 769px;
    display: flex;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.contacts .info_top {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 52px 70px 47px 70px;
}

.contacts .info_bottom {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 52px 70px 47px 70px;
}

.info_top h6{
    padding-bottom: 50px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    color: #505d68;
    font-size: 13px;
}

.info_top p {
    padding-bottom: 48px;
    font-size: 19px;
    color: #505d68;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.info_top a{
    text-decoration: none;
    font-size: 19px;
    color: #505d68;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.info_bottom h6{
    padding-bottom: 50px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    color: #505d68;
    font-size: 13px;
}

.info_bottom a {
    text-decoration: none;
    font-size: 19px;
    color: #505d68;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.footer{
    background-color: #eeeeee;
    margin-top: 80px;
    padding-top: 41px;
    padding-bottom: 40px;
}

.footer .container{
    max-width: 769px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer_l {
text-align: left;
    padding-left: 10px;
}

.footer_l p{
color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.footer_r {
text-align: right;
    padding-right: 13px;
}

.footer_r p{
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}


